#page-wrapper{
  p, div, a, span{
    font-size: 18px;
    line-height: 20px;
  }

  h1, h2, h3, h4, h5{
    margin-top: 0;
  }

  h2{
    font-size: 36px;
    line-height: 30px;
    font-weight: 500;
  }

}
