/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\000038}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000313}}
  * img {
    outline: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000316}}
  * a {
    color: black;
    -moz-outline-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000319}}
    * a ::-moz-focus-inner {
      border: 0; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000323}}
    * p {
      text-align: justify; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000333}}
#header-wrapper {
  position: fixed;
  padding: 0 2% 0 2%;
  background: white;
  z-index: 1000;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -16px; }
  @media (min-width: 720px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000333}}
    #header-wrapper {
      padding: 0 2% 0 2%; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000333}}
    #header-wrapper {
      padding: 0 3% 0 3%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000349}}
  #header-wrapper #header {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000352}}
    #header-wrapper #header #logo-wrapper {
      width: 15.25424%;
      float: left;
      margin-right: 1.69492%;
      padding-top: 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000355}}
      #header-wrapper #header #logo-wrapper #logo {
        height: auto;
        width: 80px; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000352}}
        #header-wrapper #header #logo-wrapper {
          width: 32.20339%;
          float: left;
          margin-right: 1.69492%;
          padding-top: 6px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000365}}
    #header-wrapper #header #navigation-bar {
      width: 83.05085%;
      float: right;
      margin-right: 0;
      *margin-left: -16px;
      display: block; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000365}}
        #header-wrapper #header #navigation-bar {
          display: none;
          width: 100%;
          float: right;
          margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000374}}
      #header-wrapper #header #navigation-bar #navigation-wrapper {
        text-align: right;
        width: 100%; }
        @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000374}}
          #header-wrapper #header #navigation-bar #navigation-wrapper {
            width: 100%;
            float: right;
            margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000382}}
        #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link {
          font-size: 16px;
          padding-top: 20px;
          padding-bottom: 15px;
          padding-right: 3.2%;
          padding-left: 3.2%;
          font-weight: 300;
          text-transform: uppercase;
          text-decoration: none;
          margin-right: 0;
          display: inline-block;
          text-align: center;
          cursor: pointer; }
          @media (min-width: 800px) and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000382}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link {
              padding-right: 2.8%;
              padding-left: 2.8%; } }
          @media (min-width: 720px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000382}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link {
              font-size: 16px;
              padding-right: 1.5%;
              padding-left: 1.5%; } }
          @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\0000382}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link {
              width: 100%;
              float: right;
              margin-right: 0;
              padding-bottom: 20px; } }
        @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003114}}
          #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link:first-child {
            border-top: 1px solid #EEE; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003120}}
        #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link:last-child {
          margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003123}}
        #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link:hover {
          cursor: pointer;
          background: rgba(189, 195, 199, 0.5);
          color: white;
          padding-bottom: 15px;
          border-bottom: 5px solid #2D3F51; }
          @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003123}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link:hover {
              padding-bottom: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003135}}
        #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link.selected {
          color: #5E768D;
          border-bottom: 5px solid #EFEFEF; }
          @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003135}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link.selected {
              padding-bottom: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003142}}
        #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link.selected:hover {
          color: white; }
          @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003142}}
            #header-wrapper #header #navigation-bar #navigation-wrapper .nav-link.selected:hover {
              padding-bottom: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003150}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #home-link:hover {
          border-bottom: 5px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003153}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #about-link:hover {
          border-bottom: 5px solid #21272D; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003156}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #references-link:hover {
          border-bottom: 5px solid #E4E9E9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003159}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #berufsdetails-link:hover {
          border-bottom: 5px solid #2B3E50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003162}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #hoerbeispiele-link:hover {
          border-bottom: 5px solid #F6F8F8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003165}}
        #header-wrapper #header #navigation-bar #navigation-wrapper #kontakt-link:hover {
          border-bottom: 5px solid #2D353F; }
        @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003174}}
          #header-wrapper #header #navigation-bar #navigation-wrapper #home-link:hover,
          #header-wrapper #header #navigation-bar #navigation-wrapper #about-link:hover,
          #header-wrapper #header #navigation-bar #navigation-wrapper #references-link:hover,
          #header-wrapper #header #navigation-bar #navigation-wrapper #berufsdetails-link:hover,
          #header-wrapper #header #navigation-bar #navigation-wrapper #hoerbeispiele-link:hover,
          #header-wrapper #header #navigation-bar #navigation-wrapper #kontakt-link:hover {
            border-bottom: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003184}}
  #header-wrapper #header-mobile-menu {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    *margin-left: -16px;
    display: none; }
    @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003184}}
      #header-wrapper #header-mobile-menu {
        display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003191}}
    #header-wrapper #header-mobile-menu .mobile-menu-link {
      float: right;
      margin: 12px 0 0 0;
      width: 30px;
      height: 30px;
      background: url("/sites/all/themes/dave/images/Mobile-Menu-Icon.png") no-repeat;
      background-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003203}}
#page-wrapper {
  padding-top: 60px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003203}}
    #page-wrapper {
      padding-top: 55px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003209}}
  #page-wrapper .panels-flexible-region {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003215}}
#main-content .messages {
  margin: 0;
  padding: 0 50px 0 50px;
  text-align: center;
  background-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003225}}
#main-content .about-row,
#main-content .references-row,
#main-content .berufsdetails-row,
#main-content .hoerbeispiele-row,
#main-content .kontakt-row {
  padding: 8% 10% 8% 10%;
  color: #ECECEC; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003225}}
    #main-content .about-row,
    #main-content .references-row,
    #main-content .berufsdetails-row,
    #main-content .hoerbeispiele-row,
    #main-content .kontakt-row {
      padding: 8% 6% 8% 6%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003235}}
#main-content .about-row,
#main-content .berufsdetails-row,
#main-content .hoerbeispiele-row,
#main-content .kontakt-row {
  min-height: 600px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003235}}
    #main-content .about-row,
    #main-content .berufsdetails-row,
    #main-content .hoerbeispiele-row,
    #main-content .kontakt-row {
      min-height: 500px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003243}}
#main-content .home-row {
  background: black url("/sites/all/themes/dave/images/subtle-transparent-bgs/fake_brick.png");
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003247}}
  #main-content .home-row .pane-node {
    background: rgba(34, 34, 34, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003251}}
  #main-content .home-row .home-region {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -16px;
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003257}}
  #main-content .home-row .flexslider {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -16px;
    border: none;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003261}}
    #main-content .home-row .flexslider img {
      width: 100%;
      height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003265}}
    #main-content .home-row .flexslider .views-field-body {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 16%;
      color: #EEE;
      z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003273}}
      #main-content .home-row .flexslider .views-field-body .field-content {
        padding: 10px;
        background-color: rgba(34, 34, 34, 0.4);
        z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003278}}
      #main-content .home-row .flexslider .views-field-body h1 {
        text-align: center;
        z-index: 999;
        font-size: 46px;
        margin-bottom: 0; }
        @media (min-width: 720px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003278}}
          #main-content .home-row .flexslider .views-field-body h1 {
            font-size: 36px; } }
        @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003278}}
          #main-content .home-row .flexslider .views-field-body h1 {
            font-size: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003295}}
    #main-content .home-row .flexslider .flex-control-nav {
      bottom: 40px;
      display: none;
      z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003300}}
    #main-content .home-row .flexslider .flex-direction-nav a {
      line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003307}}
#main-content .about-row {
  background: #617a92 url("/sites/all/themes/dave/images/subtle-transparent-bgs/nami.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003311}}
#main-content .references-row {
  color: #2D3F51;
  background: #E4E9E9;
  min-height: 300px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003311}}
    #main-content .references-row {
      min-height: 200px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003320}}
#main-content .berufsdetails-row {
  color: #E4E9E9;
  background: #2B3E50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003325}}
#main-content .hoerbeispiele-row {
  color: #2B3E50;
  background: #f6f8f8 url("/sites/all/themes/dave/images/Headphones1080p_sharper.jpg") no-repeat;
  background-size: 100%; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003325}}
    #main-content .hoerbeispiele-row {
      background: #F6F8F8; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003336}}
#main-content .kontakt-row {
  background: #2D3540; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003338}}
  #main-content .kontakt-row a {
    color: #EEE; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003342}}
  #main-content .kontakt-row .pane-node {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
    @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003342}}
      #main-content .kontakt-row .pane-node {
        width: 100%;
        float: right;
        margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003350}}
  #main-content .kontakt-row .pane-webform-client-block-8 {
    width: 49.15254%;
    float: right;
    margin-right: 0;
    *margin-left: -16px; }
    @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003350}}
      #main-content .kontakt-row .pane-webform-client-block-8 {
        width: 100%;
        float: right;
        margin-right: 0;
        margin-top: 30px; } }
    @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003358}}
      #main-content .kontakt-row .pane-webform-client-block-8 .pane-node {
        margin-bottom: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003364}}
    #main-content .kontakt-row .pane-webform-client-block-8 .pane-title {
      visibility: hidden; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003364}}
        #main-content .kontakt-row .pane-webform-client-block-8 .pane-title {
          display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003371}}
    #main-content .kontakt-row .pane-webform-client-block-8 label {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      margin-bottom: 10px;
      line-height: 26px; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003371}}
        #main-content .kontakt-row .pane-webform-client-block-8 label {
          width: 100%;
          float: right;
          margin-right: 0; } }
      @media (min-width: 720px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003371}}
        #main-content .kontakt-row .pane-webform-client-block-8 label {
          width: 100%;
          float: right;
          margin-right: 0; } }
      @media (min-width: 800px) and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003371}}
        #main-content .kontakt-row .pane-webform-client-block-8 label {
          width: 100%;
          float: right;
          margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003385}}
    #main-content .kontakt-row .pane-webform-client-block-8 input {
      width: 66.10169%;
      float: right;
      margin-right: 0;
      *margin-left: -16px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background-color: #EEE;
      border: none; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003385}}
        #main-content .kontakt-row .pane-webform-client-block-8 input {
          width: 100%;
          float: right;
          margin-right: 0;
          margin-bottom: 10px;
          height: 30px; } }
      @media (min-width: 720px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003385}}
        #main-content .kontakt-row .pane-webform-client-block-8 input {
          width: 100%;
          float: right;
          margin-right: 0;
          margin-bottom: 10px;
          height: 30px; } }
      @media (min-width: 800px) and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003385}}
        #main-content .kontakt-row .pane-webform-client-block-8 input {
          width: 100%;
          float: right;
          margin-right: 0;
          margin-bottom: 10px;
          height: 30px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003406}}
    #main-content .kontakt-row .pane-webform-client-block-8 .webform-component {
      min-height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003410}}
    #main-content .kontakt-row .pane-webform-client-block-8 #webform-component-nachricht .form-textarea-wrapper {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003413}}
      #main-content .kontakt-row .pane-webform-client-block-8 #webform-component-nachricht .form-textarea-wrapper label {
        width: 100%;
        float: right;
        margin-right: 0;
        *margin-left: -16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003417}}
      #main-content .kontakt-row .pane-webform-client-block-8 #webform-component-nachricht .form-textarea-wrapper textarea {
        width: 100%;
        float: right;
        margin-right: 0;
        *margin-left: -16px;
        background-color: #EEE;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003423}}
      #main-content .kontakt-row .pane-webform-client-block-8 #webform-component-nachricht .form-textarea-wrapper .grippie {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003429}}
    #main-content .kontakt-row .pane-webform-client-block-8 #edit-submit {
      width: 100%;
      float: right;
      margin-right: 0;
      *margin-left: -16px;
      margin-top: 20px;
      padding: 5px;
      border: none;
      color: #EEE;
      background: #5F6873;
      height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003436}}
      #main-content .kontakt-row .pane-webform-client-block-8 #edit-submit:hover {
        background: #4F5762; }
      @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003429}}
        #main-content .kontakt-row .pane-webform-client-block-8 #edit-submit {
          padding: 8px 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003449}}
#main-content .node-text-with-image-left img {
  float: left;
  height: auto;
  margin: 0 3% 3% 0;
  border: 5px solid #EEE; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003449}}
    #main-content .node-text-with-image-left img {
      width: 100%;
      float: right;
      margin-right: 0;
      margin: 0 0 3% 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003462}}
#main-content .node-text-with-image-right .field--name-body {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003462}}
    #main-content .node-text-with-image-right .field--name-body {
      width: 100%;
      float: right;
      margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003469}}
  #main-content .node-text-with-image-right .field--name-body p {
    margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003474}}
#main-content .node-text-with-image-right .field--name-field-bild {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -16px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003474}}
    #main-content .node-text-with-image-right .field--name-field-bild {
      width: 100%;
      float: right;
      margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003482}}
#main-content .node-text-with-image-right img {
  float: right;
  height: auto;
  margin: 0 0 3% 3%;
  border: 5px solid #EEE; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003482}}
    #main-content .node-text-with-image-right img {
      width: 100%;
      float: right;
      margin-right: 0;
      margin: 0 0 3% 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003496}}
#main-content .node-quote-formatting .pane-node-body {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003499}}
#main-content .node-quote-formatting .pane-custom {
  float: right;
  margin: 0 2% 0 0;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003503}}
  #main-content .node-quote-formatting .pane-custom .seperator {
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003507}}
#main-content .node-quote-formatting .field--name-field-person div {
  float: right;
  font-weight: bold; }
@media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003515}}
  #main-content .node-h-rbeispiele .jp-audio {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003521}}
#main-content .node-h-rbeispiele .jp-audio .jp-interface {
  border: none;
  margin-bottom: 5px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003521}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface {
      width: 100%;
      float: right;
      margin-right: 0;
      height: 130px; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003530}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-controls {
      width: 100%;
      float: right;
      margin-right: 0;
      height: 75px;
      position: relative; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003537}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-controls .jp-mute, #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-controls .jp-unmute {
      top: 100%;
      left: 85%;
      float: left; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003549}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-progress, #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-volume-bar, #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-current-time, #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-duration {
      position: relative;
      top: 0;
      left: 0;
      float: left; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003558}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-progress {
      margin-left: 8.47458%;
      width: 40.67797%;
      float: left;
      margin-right: 1.69492%; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003564}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-volume-bar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      margin-right: 8.47458%;
      margin: 5px 0 5px 0; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003572}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-current-time {
      margin-left: 8.47458%;
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; } }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003580}}
    #main-content .node-h-rbeispiele .jp-audio .jp-interface .jp-duration {
      width: 15.25424%;
      float: left;
      margin-right: 1.69492%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003588}}
#main-content .node-h-rbeispiele .jp-audio .jp-playlist {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003597}}
.flexslider {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003605}}
  .flexslider .flex-control-nav {
    bottom: 40px;
    background: green;
    display: none;
    z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003611}}
  .flexslider .flex-direction-nav {
    line-height: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003620}}
#page-wrapper p, #page-wrapper div, #page-wrapper a, #page-wrapper span {
  font-size: 18px;
  line-height: 20px; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003620}}
    #page-wrapper p, #page-wrapper div, #page-wrapper a, #page-wrapper span {
      font-size: 16px;
      line-height: 18px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003630}}
#page-wrapper h1, #page-wrapper h2, #page-wrapper h3, #page-wrapper h4, #page-wrapper h5 {
  margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003634}}
#page-wrapper h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 500; }
  @media (min-width: 0px) and (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Luke\/Documents\/Web-Projects\/david_sulzbach\/sites\/all\/themes\/dave\/sass\/components\/_layout\.scss}line{font-family:\00003634}}
    #page-wrapper h2 {
      font-size: 28px;
      margin-bottom: 8%; } }
